.payment-product-list .payment-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.payment-product-list Image {
    margin-right: 30px !important;
}