.div-totem{
    /* background-color: black;
    background-image: "../../../../img/vine-food.gif";
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 50px;; */
}