.select-table{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: linear-gradient(315deg, rgb(172, 90, 90) 0%, rgb(94, 22, 22) 74%);
    padding:0 50px;
  }
  
  .div-login{ 
      background-color:#fdd7b3ab;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      
  }

.color1 {color: #682132;}
.color2 {color: #862f37;}
.color3 {color: #b44941;}
.color4 {color: #f4714d;}
.color5 {color: #ffaa58;}