 .div-mesas-totem .busy{
    fill: red;
}

.div-mesas-totem  .pending{
    fill: red;
}
.div-mesas-totem  .done{
    fill: red;
}

.div-mesas-totem  .pending-payment{
    fill: red;
}

/* .div-mesas:hover {
    opacity: 0.1;
    cursor: pointer;
    background-color: aqua
} */


.div-mesas-totem{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-out;
    margin: 50px;
    padding: 0;
    height: 300px;
    width: 250px;
    position: relative;
    }

.card{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center; */
    /* padding: 100px; */
    box-shadow: 0px 15px 25px black;
    overflow: hidden;
}

.div-mesas-totem #ubi-cap{
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-mesas-totem #title-card-totem{
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-mesas-totem #mesa-totem {
    height: 200px;
    width: 200px;
    position: relative;
    
}

.div-mesas-totem .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    position: absolute;
    width: 250px;
    height: 300px;
    margin: 150px;
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 10px; */
    backface-visibility: hidden;
    transition: 1s;
}

.div-mesas-totem #flip-back-totem {
    font-size: 0.90rem;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 10%;
    padding: 32px;
    background-color: rgb(255, 131, 131);
    height: 300px;
    width: 250px;
    transform: perspective(500px) rotateY(180deg);
}

.div-mesas-totem:hover #flip-back-totem {
    transform: perspective(500px) rotateY(360deg);
}

.div-mesas-totem #flip-front-totem {
    text-align: center;
    display: grid;
    height: 300px;
    width: 250px;
    border-radius: 10%;
    background-color: white;
    transform: perspective(500px) rotateY(0deg);
}

.div-mesas-totem:hover #flip-front-totem {
    transform: perspective(500px) rotateY(180deg);
}


.div-mesas-totem .procesos-totem{
    position: absolute;
    top:30%;
    right: 42%;
    font-size: 5ch;
}

/* .div-mesas .flip-back-totem{
    height: 310px;
    width: 190px;
    border-radius: 19px;
    position: absolute;
} */
/* .div-mesas .flip-front-totem{
    height: 310px;
    width: 190px;
    border-radius: 19px;
    height: 310px;
    width: 190px;
    border-radius: 19px;
    position: absolute;
} */
