.table-totem .busy{
    fill: rgb(0, 255, 55);
}

.table-totem .pending{
    fill: red;
}

.table-totem .pending-payment{
    fill: orange;
}
.table-totem #mesa {
    height: 200px;
    width: 200px;
    opacity: ;
    
}

.table-totem:hover {
    opacity: 0.1;
    cursor: pointer;
    background-color: aqua
}

.div-atras-mesas{
    background-color: rgba(0, 0, 0, 0.082);
    background-image: "../../../../img/vine-food.gif";
    

}
.div-mesas{
    background-color: aliceblue;
    padding: 8px;
    width:minmax(200px,300px);
    height:350px;
    margin-bottom: 25px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.027) 5px 15px;
    }
.div-mesas:hover{
    background-color: aqua;
}





