.btn-formulario{
    border-radius:10%;
    background-color: aquamarine;
}
.input-formulario{
    margin-bottom: 15px;
}

label.error {
    color: red;
    width: 100%;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}